$theme-color:#DAAD86;
$back-color:#F5F5F5;
$text-color:#535353;
$text-header-color:#333333;
$text-color-light:#999999;
$footer-top-color:#282828;	
$footer-bottom-color:#111111;
$border-color: #3A3A3A;

$mobile: "(max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";